<% var page = page||'' %>
<!--TODO partial-->
<!--<%if(page=='index'){%>-->
<!--<pre><%=include ../README.md%></pre>-->
<!--<%}%>-->

<script type="text/tpl" id="J_more">
  <button id="J_btn_more" class="btn btn-large btn-block check-more" type="button">查看更多</button>
</script>
<script type="text/tpl" id="J_status">
  {{#error}}<div class="alert alert-error">{{.}}</div>{{/error}}
  {{#each statuses}}
  {{^deleted}}
  <dl class="feed_list W_linecolor" mid="{{mid}}" isforward="1">
    <dt class="face">
      {{#user}}
      <a href="/statuses/user_timeline/{{id}}" title="{{name}}">
        <img title="{{name}}" alt="{{name}}" width="50" height="50" src="{{profile_image_url}}">
      </a>
      {{/user}}
    </dt>
    <dd class="content">
      <p class="feed_list_content" node-type="feed_list_content">
        {{#user}}
        <a title="{{name}}" href="/statuses/user_timeline/{{id}}">{{name}}</a>
        {{#verified}}
        <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
        {{/verified}}：
        {{/user}}{{{text}}}
      </p>
      {{#thumbnail_pic}}
      <ul class="piclist">
      	<li>
      		<div class="chePicMin W_bgcolor_mini bigcursor">
            <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
            <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
          </div>
      	</li>
      </ul>
      {{/thumbnail_pic}}
      {{#retweeted_status}}
      <dl class="comment W_textc W_linecolor W_bgcolor">
        <dt>
          {{#user}}
          <a href="/statuses/user_timeline/{{id}}" title="{{name}}">{{name}}</a>
          {{#verified}}
          <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
          {{/verified}}：
          {{/user}}{{{text}}}
        </dt>
        {{#unless deleted}}
        {{#thumbnail_pic}}
        <dd>
          <ul class="piclist">
            <li>
              <div class="chePicMin W_bgcolor_mini bigcursor">
                <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
                <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
              </div>
            </li>
          </ul>
        </dd>
        {{/thumbnail_pic}}
        <dd class="expand" style="display: none;" node-type="feed_list_media_disp"></dd>
        <dd class="info W_linkb W_textb">
            <span class="action_list" data-id="{{id}}">
              <a data-action="repost">转发({{reposts_count}})</a>
              <a data-action="repeat">评论({{comments_count}})</a>
            </span>
          <a class="date" href="/statuses/show/{{mid}}">{{dateFormat created_at}}</a>来自 {{{source}}
        </dd>
        {{/unless}}
      </dl>
      {{/retweeted_status}}
      <p class="info W_linkb W_textb">
        <span class="action_list" data-id={{id}}>
          <a data-action="repost">转发({{reposts_count}})</a>
          {{#favorited}}已收藏{{/favorited}}
          {{^favorited}}
          <a data-action="favorite" data-create="true">收藏</a>
          {{/favorited}}
          <a data-action="repeat">评论({{comments_count}})</a>
        </span>
        <a href="/statuses/show/{{mid}}" class="date">{{dateFormat created_at}}</a>来自 {{{source}}}
      </p>
    </dd>
    <dd class="clear"></dd>
  </dl>
  {{/deleted}}
  {{/each}}
</script>
<script type="text/tpl" id="J_favorites">
  {{#error}}<div class="alert alert-error">{{.}}</div>{{/error}}
  {{#each favorites}}
  {{#status}}
  {{^deleted}}
  <dl class="feed_list W_linecolor" mid="{{mid}}" isforward="1">
    <dt class="face">
      {{#user}}
      <a href="/statuses/user_timeline/{{id}}" title="{{name}}">
        <img title="{{name}}" alt="{{name}}" width="50" height="50" src="{{profile_image_url}}">
      </a>
      {{/user}}
    </dt>
    <dd class="content">
      <p class="feed_list_content" node-type="feed_list_content">
        {{#user}}
        <a title="{{name}}" href="/statuses/user_timeline/{{id}}">{{name}}</a>
        {{#verified}}
        <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
        {{/verified}}：
        {{/user}}{{{text}}}
      </p>
      {{#thumbnail_pic}}
      <ul class="piclist">
      	<li>
      		<div class="chePicMin W_bgcolor_mini bigcursor">
            <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
            <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
          </div>
      	</li>
      </ul>
      {{/thumbnail_pic}}
      {{#retweeted_status}}
      <dl class="comment W_textc W_linecolor W_bgcolor">
        <dt>
          {{#user}}
          <a href="/statuses/user_timeline/{{id}}" title="{{name}}">{{name}}</a>
          {{#verified}}
          <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
          {{/verified}}：
          {{/user}}{{{text}}}
        </dt>
        {{#unless deleted}}
        {{#thumbnail_pic}}
        <dd>
          <ul class="piclist">
            <li>
              <div class="chePicMin W_bgcolor_mini bigcursor">
                <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
                <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
              </div>
            </li>
          </ul>
        </dd>
        {{/thumbnail_pic}}
        <dd class="expand" style="display: none;" node-type="feed_list_media_disp"></dd>
        <dd class="info W_linkb W_textb">
            <span class="action_list" data-id={{id}}>
              <a data-action="repost">转发({{reposts_count}})</a>
              <a data-action="repeat" data-id={{id}}>评论({{comments_count}})</a>
            </span>
          <a class="date" href="/statuses/show/{{mid}}">{{dateFormat created_at}}</a>来自 {{{source}}
        </dd>
        {{/unless}}
      </dl>
      {{/retweeted_status}}
      <p class="info W_linkb W_textb">
        <span class="action_list" data-id={{id}}>
          <a data-action="repost">转发({{reposts_count}})</a>
          <a data-action="favorite">取消收藏</a>
          <a data-action="repeat">评论({{comments_count}})</a>
        </span>
        <a href="/statuses/show/{{mid}}" class="date">{{dateFormat created_at}}</a>来自 {{{source}}}
      </p>
    </dd>
    <dd class="clear"></dd>
  </dl>
  {{/deleted}}
  {{/status}}
  {{/each}}
</script>
<script type="text/tpl" id="J_comment">
  {{#error}}<div class="alert alert-error">{{.}}</div>{{/error}}
  {{#each comments}}
  <dl class="feed_list W_linecolor" mid="{{mid}}" isforward="1">
    <dt class="face">
      {{#user}}
      <a href="/statuses/user_timeline/{{id}}" title="{{name}}">
        <img title="{{name}}" alt="{{name}}" width="50" height="50" src="{{profile_image_url}}">
      </a>
      {{/user}}
    </dt>
    <dd class="content">
      <p class="feed_list_content">
        {{#user}}
        <a title="{{name}}" href="/statuses/user_timeline/{{id}}">{{name}}</a>
        {{#verified}}
        <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
        {{/verified}}：
        {{/user}}{{{text}}}
      </p>
      {{#status}}
      <div class="comment">
        <p class="feed_list_content">
          {{#user}}
          <a title="{{name}}" href="/statuses/user_timeline/{{id}}">{{name}}</a>
          {{#verified}}
          <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
          {{/verified}}：
          {{/user}}{{{text}}}
        </p>
        {{#thumbnail_pic}}
        <ul class="piclist">
          <li>
            <div class="chePicMin W_bgcolor_mini bigcursor">
              <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
              <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
            </div>
          </li>
        </ul>
        {{/thumbnail_pic}}
        {{#retweeted_status}}
        <dl class="comment W_textc W_linecolor W_bgcolor">
          <dt>
            {{#user}}
            <a href="/statuses/user_timeline/{{id}}" title="{{name}}">{{name}}</a>
            {{#verified}}
            <a target="_blank" href="http://verified.weibo.com/verify" title="新浪个人认证">V</a>
            {{/verified}}：
            {{/user}}{{{text}}}
          </dt>
          {{#unless deleted}}
          {{#thumbnail_pic}}
          <dd>
            <ul class="piclist">
              <li>
                <div class="chePicMin W_bgcolor_mini bigcursor">
                  <img class="bigcursor" src="{{.}}" alt="" data-middle={{../bmiddle_pic}}>
                  <img class="bigcursor_loading loading_gif" src="http://img.t.sinajs.cn/t4/style/images/common/loading.gif">
                </div>
              </li>
            </ul>
          </dd>
          {{/thumbnail_pic}}
          <dd class="expand" style="display: none;" node-type="feed_list_media_disp"></dd>
          <dd class="info W_linkb W_textb">
              <span class="action_list" data-id={{id}}>
                <a data-action="repost">转发({{reposts_count}})</a>
                <a data-action="repeat">评论({{comments_count}})</a>
              </span>
            <a class="date" href="/statuses/show/{{mid}}">{{dateFormat created_at}}</a>来自 {{{source}}
          </dd>
          {{/unless}}
        </dl>
        {{/retweeted_status}}
        <p class="info W_linkb W_textb">
          <span class="action_list" data-id={{id}}>
            <a data-action="repost">转发({{reposts_count}})</a>
            {{#favorited}}已收藏{{/favorited}}
            {{^favorited}}
            <a data-action="favorite" data-create="true">收藏</a>
            {{/favorited}}
            <a data-action="repeat">评论({{comments_count}})</a>
          </span>
          <a href="/statuses/show/{{id}}" class="date">{{dateFormat created_at}}</a>来自 {{{source}}}
        </p>
      </div>
      {{/status}}
    </dd>
    <dd class="clear"></dd>
  </dl>
  {{/each}}
</script>
<script type="text/tpl" id="J_follow">
  {{#error}}<div class="alert alert-error">{{.}}</div>{{/error}}
  <ul class="cnfList">
    {{#each users}}
    <li class="clearfix W_linecolor">
      <div class="left">
        <p class="face mbspace">
          <a target="_blank" title="{{name}}" href="/izlmichael">
            <img width="50" height="50" alt="{{name}}" src="{{profile_image_url}}">
          </a>
        </p>
      </div>
      <div class="con clearfix">
        <div class="con_right">
          <p class="addbtn mbspace">
            {{#follow_me}}
            <img class="icon_connect" title="已相互关注" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif">
            {{/follow_me}}
          </p>
          <p class="txt mbspace">
            <a data-action="friend-create" data-id="{{id}}">取消关注</a>
          </p>
        </div>
        <div class="con_left">
          <p class="name mbspace">
            <a target="_blank" href="/statuses/user_timeline/{{id}}" class="W_f14">{{name}}</a>
            {{#verified}}
            <a target="_blank" href="http://verified.weibo.com/verify">V</a>
            <span class="addr">{{location}}</span>
            {{/verified}}
          </p>
          <p class="connect mbspace">
            关注 <a target="_blank" href="/friendships/friends/{{id}}">{{friends_count}}</a>
            粉丝 <a target="_blank" href="/friendships/followers/{{id}}">{{followers_count}}</a>
            微博 <a target="_blank" href="/statuses/user_timeline/{{id}}">{{statuses_count}}</a>
            收藏 {{favourites_count}}
          </p>
          <p class="info mbspace">简介：{{description}}</p>
          <p class="weibo mbspace"><a href="/statuses/user_timeline/{{id}}" class="W_linkb">{{{status}}</a></p>
          <p class="more_info">
            <a href="javascript:;" class="W_moreup" title="更多资料">
              更多资料<span class="more">{{remark}}</span>
            </a>
          </p>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</script>
<script type="text/tpl" id="J_repeat">
  <div class="repeat W_textc W_linecolor W_bgcolor">
    <!-- 评论框 -->
    <div class="input clearfix">
      <div><textarea></textarea></div>
      <div class="action clearfix" node-type="widget">
        <label><input class="W_checkbox" type="checkbox" name="forward">同时转发到我的微博</label>
        <button class="btn btn-primary" type="button" data-action="repeat">评论</button>
      </div>
    </div>
    <!-- 已有评论列表 -->
    <div class="comment_lists" node-type="feed_list_commentList">
      {{#each comments}}
      <dl class="comment_list W_linecolor">
        {{#user}}
        <dt>
          <a href="/statuses/user_timeline/{{id}}"><img width="30" height="30" alt="{{name}}" src="{{profile_image_url}}"></a>
        </dt>
        <dd>
        <a href="/statuses/user_timeline/{{id}}">{{name}}</a>：{{{../text}}}<span class="comment_date">{{dateFormat ../created_at}}</span>
        {{/user}}
        <!--<p class="info W_textb">-->
          <!--<span class="W_linkb">-->
            <!--<a href="javascript:void(0);">回复</a>-->
          <!--</span>-->
        <!--</p>-->
        </dd>
        <dd class="clear"></dd>
      </dl>
      {{/each}}
    </div>
  </div>
</script>
<script type="text/tpl" id="J_user_profile">
  {{^error}}
  <div class="perAll_info clearfix">
  	<div class="face">
      <a class="face" href="/statuses/user_timeline/{{id}}" title="{{name}}">
        <img src="{{avatar_large}}" alt="{{name}}">
      </a>
    </div>
  	<div class="detail">
      <div class="name clearfix">
        <div class="left" title="{{profile_url}}">{{name}}</div>
      </div>
      <p>{{location}}</p>
      {{#url}}
      <p>博客：<a href="{{.}}" target="_blank">{{.}}</a></p>
      {{/url}}
      关注 <a href="/friendships/friends/{{id}}">{{friends_count}}</a>
      粉丝 <a href="/friendships/followers/{{id}}">{{followers_count}}</a>
      微博 <a href="/statuses/user_timeline/{{id}}">{{statuses_count}}</a>
      收藏 {{favourites_count}}
      <p>{{description}}</p>
      <div class="concern clearfix">
        <div class="handle_btn">
          {{#following}}
          <button class="btn" data-id={{id}} data-action="friend-create">取消关注</button>
          {{/following}}
          {{^following}}
          <button class="btn" data-id={{id}} data-action="friend-create" data-create="true">关注</button>
          {{/following}}
        </div>
        <!--<div class="handle_more">-->
          <!--<span>-->
            <!--<a class="rec_friend" action-type="addQuietFollow">悄悄关注</a>-->
          <!--</span>-->
        <!--</div>-->
      </div>
  	</div>
  	<div class="clear"></div>
  </div>
  {{/error}}
</script>
<script type="text/tpl" id="J_emotions">
  <ul class="faces_list faces_list_hot clearfix">
    {{#each this}}
    <li><img src="{{url}}" alt="{{value}}" title="{{value}}" data-action="choose-emotion"></li>
    {{/each}}
  </ul>
</script>
<script type="text/tpl" id="J_trends">
  <ul class="trends_list clearfix">
    {{#trendsFormat trends}}{{/trendsFormat}}
  </ul>
</script>
<script type="text/tpl" id="J_options">
  <div>为了确保可以正常登录，在登录前请先<strong><a href="http://t.sina.com.cn/logout.php?backurl=/" target="_blank">退出新浪微博</a></strong></div>
  <div style="margin-top:10px;"><a href="/signin"><button class="btn" data-action="user-add">添加新用户</button></a></div>
  <ul class="user-list">
    {{#each this}}
    <li class="profile">
      <p><img src="{{profile_image_url}}" alt="{{name}}"> {{name}} </p><a href="javascript:;" data-uid="{{uid}}">删除用户</a>
    </li>
    {{/each}}
  </ul>
</script>
