<!DOCTYPE html> 
<html> 
  <head>
    <meta charset="utf-8" />
    <meta name='description' content='<%= config.description %>'>
    <!--<meta property="wb:webmaster" content="9d4b91032648dbe0" />-->
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/assets/js/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/weibo.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/weibo-connect.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <!-- script -->
    <!--<script src='/assets/js/libs/jquery.js'></script>-->
    <!--<script src='/assets/js/libs/bootstrap/js/bootstrap.js'></script>-->
    <!--<script src='/assets/js/libs/handlebars.js'></script>-->
    <!--<script src='/app/js/main.js'></script>-->
    <% if (locals.topic) { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
  </head>
  <body>
    <!-- navbar -->
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'><%- config.site_logo || config.name %></a>
          <form id='search_form' class='navbar-search' action="/" style="display: none;">
            <input type='text' id='q' name='q' class='search-query span3' value='<%= locals.keyword || "" %>'/>
          </form>
          <ul class='nav pull-right'>
            <li><a href='/statuses/public_timeline'>看大家在聊什么</a></li>
            <li><a href='/statuses/home_timeline/1760951922'>首页</a></li>
            <li><a href="#">@我</a></li>
            <li><a href="#">评论</a></li>
            <li><a href="#">私信</a></li>
            <li><a href="#">收藏</a></li>
            <li><a href="/friendships/followers/1760951922">粉丝</a></li>
            <li><a href="/friendships/friends/1760951922">关注</a></li>
            <li><a href="#">微博</a></li>
            <% var accessToken = locals.accessToken||'' %>
            <% if (!accessToken) { %>
            <li><a href='/signin'>登录</a></li>
            <% } %>
          </ul>
          <a class="fork2github" href="https://github.com/sdg-sysdev/waybo">
            <img src="/assets/images/octocat-icon.png" alt="Fork me on GitHub">
          </a>
        </div>
      </div>
    </div>
    <!-- wrapper -->  
    <div id='wrapper'>
      <div>
        <!-- Main container. -->
        <div role="main" id="main"><%- body %></div>
        <% if (!accessToken) { %>
        <div class="signin-main">
          <a href='/signin'><button class="btn btn-large btn-primary" type="button">登录</button></a>
        </div>
        <% } %>
        <button id="J_btn_more" style="display: none" class="btn btn-large btn-block check-more" type="button">查看更多</button>
        <!-- Application source. -->
        <script data-main="/app/config" src="/assets/js/libs/require.js"></script>
      </div>
      <div class='cl cr'></div>
    </div>
  </body>
</html> 
